*{
	margin:0px;
	padding: 0px;
	color: #5b5e5b;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

h1{
	font-size: 18px;
}

h1.title{
	font-size: 36px;
	color: #fff;
}

a{
	text-decoration: none;
	color: #e9932c;
}

p{
	margin-bottom: 25px;
}

.white-text{
	color: #fff;
}

.comment-link{
	background: #e2842c;
	color: #fff;
	padding: 10px;
}

#top-header{
	background: #f6f5e9;
}

#inner-top-header{
	width: 1000px;
	margin: 0 auto;
	overflow: auto;
	padding: 17px 0;
	background : transparent url('img/bg-line.png') repeat center top
}

#my-name{
	float: left;
}

#menu{
	float: right;
}

#menu a{
	margin-left: 15px;
	vertical-align: middle;
	color: #5b5e5b;
}

#menu a.active{
	color: #e9932c;
	font-weight: bold;
}

#bottom-header{
	background: #291f16;
	padding: 10px 0;
}

#inner-bottom-header{
	width: 768px;
	margin: 0 auto;
	overflow: auto;
}

#browse-by{
	float: left;
	vertical-align: middle;
}

#search{
	float: right;
}

#search-box{
	padding: 5px;
	font-size: 14px;
	height: 12px;
	width: 220px;
	background: #f6f5ea;
	border: none;
}

#search-button{
	color: #fff;
	background: #83382b;
	border: none;
	padding: 5px 10px;
}

.title{
	background: #5b2d26;
	padding: 20px 0;
}

.inner-title{
	width: 768px;
	margin: 0 auto;
}

.meta{
	background: #83382b;
	padding: 10px 0;
}

.inner-meta{
	width: 768px;
	margin: 0 auto;
}

.inner-meta span{
	margin-right: 10px;
}

.content{
	width: 1000px;
	margin: 0 auto;
	border-left: 1px solid #F8F1EB;
	border-right: 1px solid #F8F1EB;
}

.inner-content{
	width: 768px;
	margin: 0 auto;
	padding: 30px 0 10px;
}

.author-area{
	background: #f6f6ea;
}

.inner-author-area{
	width: 768px;
	margin: 0 auto;
	padding: 20px 0;
}


@media screen and (max-width: 1000px){
	#my-name, #menu,#browse-by,#search,.title{
		float: none;
		text-align: center;
	}

	#inner-top-header,#inner-bottom-header, .inner-title, .inner-meta, .inner-content,.content{
		width: 100%;
	}

	h1.title{
		font-size: 28px;
	}

	.inner-meta,.inner-content,.content{
		padding: 0px 10px;
	}

	.inner-author-area{
		padding: 20px 10px;
	}

	#category-tag{
		display: block;
		margin-top: 10px;
	}

}